#container {
    margin: 15% auto;
    text-align: center;
}

#question-title {
    font-size: 2em;
    font-weight: 400;
}

#question-options {
    display: flex;
    justify-content: center;
}

#question-options > div {
    border: solid rgb(203, 203, 203) 0.3rem;
    border-radius: 1em;
    padding: 0.5em;
    margin:0em 0.5em;
    cursor: pointer;
    color: rgb(98, 98, 98)
}

#question-options>div:hover {
    border-color: #14d10e;
}

.answer-selected {
    color: rgb(0, 0, 0) !important;
    border-color:#15d10e71 !important;
}

.evalute-button-style {
    margin-top: 10em;
    padding: 1em;
    border-radius: 1em;
    border: solid 0.2em rgb(140, 23, 202);
    background-color: white;
    color: rgb(140, 23, 202);
    font-weight: 600;
    cursor: pointer;
}

.evalute-button-style:hover {
    background-color: rgb(140, 23, 202);
    color:white
}

.evalute-button-style:disabled {
    border: solid 0.2em #c6c6c6;
    background-color: #c6c6c6;
    color: rgb(255, 255, 255);
    cursor: default;
}

#scoreText {
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 50em;
}

#result-container {
    height: 100%;
    margin: 1em 10em;
    border-bottom: 0;
    border-color: #14d10e;
    color: white;
    display: none;
    border-radius: 5em 5em 0em 0em;
}

.answer-disabled {
    color: rgb(255, 255, 255) !important;
    background-color: gray !important;
    border-color: gray !important;
}

.result-text {
    font-size: 1.5em;
    margin: 0em;
}

.result-points {
    font-size: 1.1em;
    display: none;
}